<br>
<br><br>
<div class="container">
    <br>
    <div class="text-end">
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Add New Job" class="btn text-light btn-lg btt">
            Add New Job
            <i class="fa-solid fa-square-plus"></i>
        </button>
        <br>
        <br>
    </div>
    <div id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="exampleModalLabel" class="modal-title">Add Job</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form [formGroup]="jobsform" (ngSubmit)="submitJob()" >
                            <label for="">Job Name</label>
                            <br>
                            <input  type="text" formControlName="J_Name" placeholder="Enter Job Name"  class="form-control">
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="E_id">Employee Name</label>
                                    <br>
                                    <select formControlName="E_id" >
                                        <option *ngFor="let e of AllEmployee" [value]="e.E_id" >{{e.E_Name}}</option>
                                    </select>
                                    <br>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <label for="Machine_id">Machine Name</label>
                                    <br>
                                    <select formControlName="Machine_id" class="">
                                        <option *ngFor="let m of machines" [value]="m.Machine_id">{{m.Machine_Name}}</option>
                                    </select>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Material_id">Material Type</label>
                                    <br>
                                    <select formControlName="Material_id" style="height: 35%;" class="">
                                        <option *ngFor="let mat of AllMaterial" [value]="mat.Material_id">{{mat.Material_Name}}</option>
                                    </select>
                                    <br>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <label>Material Issued</label>
                                    <br>
                                    <input type="text" formControlName="Material_Issued" placeholder="Material Issue Quantity (e.g. 500)" class="form-control">    
                                    <br>
                                </div>
                            </div>
                            <!-- <div>
                                <label>Design File</label>
                                <input type="file"  (change)="onFileSelected($event)" class="form-control">
                            </div> -->
                            <br>
                            <br>
                            <button class="btn btn-outline-light" type="submit">Assign Job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let j of Alljob">
            <div class="card"  >
                <div class="card-body">
                    <div class="rowinline">
                        <div class="text-start">
                            <a title="View Job Information" class="info" tabindex="0" [routerLink]="['/Home/JobInformation',j.Job_id ]">
                                <b>Job_id :</b>
                                {{j.Job_id}}
                            </a>
                        </div>
                        <div class="actions">
                            <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1" title="Edit a Job" (click)="editjobs(j.Job_id)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a type="button" title="Delete a Job">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <p title="View Information" class="info" tabindex="0">
                        <b>Job Name :</b>
                     {{j.J_Name}}
                    </p>
                    <p>
                        <b>Employee Name :</b>
                        {{j.E_Name}}
                    </p>
                    <p>
                        <b>Material Name :</b>
                     {{j.Material_Name}}
                    </p>
                    <p>
                        <b>Material Type :</b>
                        {{j.Material_Type}}
                    </p>
                    <p>
                        <b>Material Issued :</b>
                        {{j.Material_Issued}}
                    </p>
                    <p>
                        <b>Machine Name :</b>
                        {{  j.Machine_Name}}
                    </p>
                    <p>
                        <b>Machine Number :</b>
                        {{j.Machine_Number}}
                    </p>
                    <p>
                        <b>Added Date :</b>
                        {{j.Added_Date | date:'medium'}}
                    </p>
                    <p>
                        <b>Status :</b>
                        {{j.Status}}
                    </p>
                </div>
            </div>
        </div>
        <!---->
    </div><br>

    <div id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="exampleModalLabel" class="modal-title">Edit Jobs</h5>
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        class="btn-close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form [formGroup]="Editjobsform" (ngSubmit)="JobUpdates()" >
                            <label for="">Job Name</label>
                            <br>
                            <input
                                type="text"
                                formControlName="J_Name"
                                placeholder="Job Name"
                                class="form-control "
                            >
                            <br>
                       <div class="row">
                                <div class="col-md-6">
                                    <label for="E_id">Employee Name</label>
                                    <br>
                                    <select formControlName="E_id" >
                                        <option *ngFor="let e of AllEmployee" [value]="e.E_id" >{{e.E_Name}}</option>
                                    </select>
                                    <br>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <label for="Machine_id">Machine Name</label>
                                    <br>
                                    <select formControlName="Machine_id" class="">
                                        <option *ngFor="let m of machines" [value]="m.Machine_id">{{m.Machine_Name}}</option>
                                    </select>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Material_id">Material Type</label>
                                    <br>
                                    <select formControlName="Material_id" style="height: 35%;" class="">
                                        <option *ngFor="let mat of AllMaterial" [value]="mat.Material_id">{{mat.Material_Name}}</option>
                                    </select>
                                    <br>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <label>Material Issued</label>
                                    <br>
                                    <input type="text" formControlName="Material_Issued" placeholder="Material Issue Quantity (e.g. 500)" class="form-control">    
                                    <br>
                                </div>
                            </div>
                         
                            <div>
                                <label>Design File</label>
                                <input type="file" (change)="onFileChange($event)" class="form-control">
                            </div>
                            <br>
                            <br>
                            <button class="btn btn-outline-light" type="submit">Update Job</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>