aside {
    background-color: #2E3257;
    color: white;
}

.nav-link:hover {
    background-color: #5B4c75 !important;
}

.nav-underline {
    color: #2E3257;
}

.active-link {
    background-color: #5B4c75 !important;
    /* Active clicked color */
    color: white !important;
    border-left: 2px solid white;
}