<div class="container main">
    <br><br><br><br>
    <div class="text-center">
        <h1>All Machines Information </h1>
    </div>
    <br><br>

    <div class="text-end">
        <button type="button" class="btn text-light btt" data-bs-toggle="modal" data-bs-target="#exampleModal"
            title="Add Machines">
            Add Machine <i class="fa-solid fa-square-plus"></i>
        </button> <br>
    </div>

    <!-- <div class="rowss">
        <button class="btn btn-outline-warning" (click)="AllMachines()"
            style="margin-left: 15px; color: white;">Refresh</button>
    </div> -->

    <br> <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Machine ID</th>
                <th>Machine Code</th>
                <th>Machine Name</th>
                <th>Machine Number</th>
                <th>Date</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machine of ALLMachine | paginate :{itemsPerPage :10 ,currentPage:pro}">
                <td [routerLink]="['/Home/MachinesDetails',machine.Machine_id]" title="View Information" class="info">{{
                    machine.Machine_id }}</td>
                <td>{{ machine.Machine_Code }}</td>
                <td>{{ machine.Machine_Name }}</td>
                <td>{{ machine.Machine_Number }}</td>
                <td>{{ machine.Added_Date | date }} <br> {{machine.Added_Date | date:'h:mm a' }}</td>

                <td>
                    <span [ngClass]="{
      'text-success': machine.Machine_Status == 0,
      'text-danger': machine.Machine_Status == 1,
      'text-warning': machine.Machine_Status == 2
    }">
                        <i class="fa-solid fa-circle fa-sm"></i> {{
                        machine.Machine_Status == 0
                        ? 'Available'
                        : machine.Machine_Status == 1
                        ? 'Busy'
                        : 'Allocated'
                        }}
                    </span>
                </td>

                <!-- <td>
                    <span [ngClass]="{
      'badge bg-success': machine.Machine_Status == 1,
      'badge bg-secondary': machine.Machine_Status != 1
    }">
                        {{ machine.Machine_Status == 1 ? 'Busy' : 'Free' }}
                    </span>
                </td> -->

                <td> <a type="button" (click)="EditMachine(machine.Machine_id)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1" title="Edit a Machine">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    </a>
                </td>

                <td><a type="button" (click)="DeleteMachine(machine['Machine_id'])" title="Delete a Machine"><i
                            class="fa-regular fa-trash-can fa-lg"></i></a>
                </td>
            </tr>
            <br>
            <div class="text-center">
                <pagination-controls (pageChange)=" pro = $event "
                    style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
            </div>

        </tbody>
    </table>
    <br>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <br>
                        <form [formGroup]="AddMachineForm">
                            <label for="Machine_Code">Machine_Code</label>
                            <input type="text" formControlName="Machine_Code" class="form-control"
                                placeholder="Machine_Code">
                            <br>
                            <label for="Machine_Name">Name</label>
                            <input type="text" formControlName="Machine_Name" class="form-control"
                                placeholder="Machine_Name">
                            <br>
                            <label for="Machine_Number">Number</label>
                            <input type="text" formControlName="Machine_Number" class="form-control"
                                placeholder="Machine_Number">
                            <br>

                            <div class="mb-3">
                                <label for="Machine_Status" class="form-label">Machine Status</label>
                                <select class="form-select" id="Machine_Status" formControlName="Machine_Status"
                                    (change)="ToggleStatus($event)">
                                    <option [value]="0">Available</option>
                                    <option [value]="1">Busy</option>
                                    <option [value]="2">Allocated</option>
                                </select>
                            </div>

                            <!-- <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="Machine_Status"
                                    formControlName="Machine_Status" (change)="ToggleStatus($event)">
                                <label class="form-check-label" for="Machine_Status">Checked is Available or
                                    Not</label>
                            </div> -->
                            <br>
                            <button class="btn btn-success btn-lg mb-4" (click)="AddMachine()">Add Machine</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <br>
                        <form [formGroup]="EditMachineForm">
                            <label for="Machine_Code">Machine Code</label>
                            <input type="text" formControlName="Machine_Code" class="form-control"
                                placeholder="Machine_Code">
                            <br>
                            <label for="Machine_Name">Machine Name</label>
                            <input type="text" formControlName="Machine_Name" class="form-control"
                                placeholder="Machine_Name">
                            <br>
                            <label for="Machine_Number">Machine Number</label>
                            <input type="text" formControlName="Machine_Number" class="form-control"
                                placeholder="Machine_Number">
                            <br>
                            <div class="mb-3">
                                <label for="Machine_Status" class="form-label">Machine Status</label>
                                <select class="form-select" id="Machine_Status" formControlName="Machine_Status"
                                    (change)="updateStatus($event)">
                                    <option [value]="0">Available</option>
                                    <option [value]="1">Busy</option>
                                    <option [value]="2">Allocated</option>
                                </select>
                            </div>


                            <!-- <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="Machine_Status"
                                    formControlName="Machine_Status" (change)="ToggleStatus($event)">
                                <label class="form-check-label" for="Machine_Status">Checked Machine is Busy or
                                    Not</label>
                            </div> -->
                            <br>
                            <button class="btn btn-success btn-lg mb-4" (click)="UpadateMachine()">Update
                                Machine</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>